{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}
  
{% block content %}
  
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'info' %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% elif category == 'error' %}
       <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% else %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
  

  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>
        <ya-tr-span data-index="3-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Сайт: {{ url.name }}" data-translation="Сайт: {{ url.name }}" data-ch="0" data-type="trSpan" style="visibility: inherit !important;">Сайт: {{ url.name }}</ya-tr-span>
      </h1>

    
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ url.id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ url.name }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ url.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('url_checking', url_id=url.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
    {% for check in checks %}
    <tr>
        <td>{{ check.id }}</td>
        <td>{{ check.status_code }}</td>
        {% if check.h1 == None %}
          <td></td>
          {% else %}
          <td>{{ check.h1 }}</td>
        {% endif %}
        {% if check.title == None %}
          <td></td>
          {% else %}
          <td>{{ check.title }}</td>
        {% endif %}
      <td>{{ check.description }}</td>
        <td>{{ check.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
  </main>
   {% endblock %}