  {% extends "layout.html" %}

  {% block title %}Анализатор страниц{% endblock %}
    
  {% block content %}

  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>

    
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
      {% for url_check in urls_checks %}
      <tr>
        <td>{{ url_check.id }}</td>
        <td>
          <a href="{{ url_for('url_show', url_id=url_check.id) }}">
            {{ url_check.name }}
          </a>
        </td>
        {% if url_check.last_date == None %}
          <td></td>
          {% else %}
            <td>{{ url_check.last_date }}</td>
            {% endif %}
        {% if url_check.status_code == None %}
          <td></td>
          {% else %}
          <td>{{ url_check.status_code }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

    </div>
  </main>
 
  {% endblock %}